*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: auto;
}
body {
  background-color: rgb(37, 37, 37);
}

section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-items: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

h1 {
  color: #f00447;
  margin: 5rem 0;
  font-size: 3rem;
  text-transform: capitalize;
}

.data {
  color: rgb(228, 228, 228);
  line-height: 1.7;
  font-size: 2rem;
  font-weight: 600;
  width: 70%;
  min-height: 50vh;
  margin: 0rem 10rem;
  padding: 5rem;
  border: solid 1px #f00447;
  border-radius: 1rem;
}
.btn {
  height: 4rem;
  padding: 1.2rem;
  width: 25rem;
  font-size: 1.8rem;
  border-radius: 25rem;
  outline: none;
  color: #ccc;
  background-color: #f00447;
  border: none;
  cursor: pointer;
  text-align: center;
  transform: translateY(-45%);
  text-transform: capitalize;
  transition: all 0.5s ease-in-out;
}

.btn:hover {
  /* background-color: #a4133c; */
  width: 30rem;
  height: 4.2rem;
}
.btn:active {
  background-color: #a4133c;
  width: 25rem;
  height: 4rem;
}
.qna_container {
  margin-top: 3rem;
}

#question {
  width: 45rem;
  height: 4rem;
  padding: 1.2rem;
  border-radius: 25rem;
  margin-right: 2rem;
  outline: none;
  border: 1px solid #f00447;
  background: transparent;
  color: #ccc;
  font-size: 1.8rem;
}

#submit {
  height: 4rem;
  padding: 1.2rem;
  width: 15rem;
  border-radius: 25rem;
  outline: none;
  color: #ccc;
  background-color: #f00447;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease;
}

#submit:hover {
  transform: scale(1.1);
  box-shadow: 0 0.5rem 2rem rgba(204, 204, 204, 0.2);
}
#submit:active {
  transform: scale(1);
}
.answer {
  margin-top: 2rem;
  color: #f00447;
  font-size: 2rem;
}

@media (max-width: 900px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 700px) {
  html {
    font-size: 40%;
  }
  .data {
    width: 85%;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 35%;
  }
}
